# prooferd.conf  -*- mode: libucl -*-

# "." is a special case - it uses the path from the configuration file
# as the data directory.  Use ${CURDIR} for working directory.
# all keys and logs are relative to this directory
# unless the are overridden with absolute paths.
#data_directory = "."
#data_directory = "${CURDIR}"
data_directory = "/var/lib/prooferd"

# optional pid file if not absolute path then is created relative to
# the data directory
# pidfile = "prooferd.pid"

# select the chain of the network for peer connections
# cross chain networking connects will not work
#chain = bitmark
#chain = testing
chain = local

# number of background hashing threads
# default: number of CPUs
# threads = 4


# connect to bitmarkd
peering {

  # the miners keys
  public_key = prooferd.public
  private_key = prooferd.private

  # connections to bitmarkd nodes
  connect {
    public_key = "9d505875ffb4101955486cfde65ea5b5a0fb2482c94ddef69cfffd774d98fa20"
    blocks = "127.0.0.1:2140"
    submit = "127.0.0.1:2141"
  }
  # connect {
  #   public_key = "9d505875ffb4101955486cfde65ea5b5a0fb2482c94ddef69cfffd774d98fa20"
  #   blocks = "[::1]:3140"
  #   submit = "[::1]:3141"
  # }

}

# ***** future possibility: allow prooferd to sign its own proof record
# # address to receive work payments
# payment {
#   account = bitmark account ***** need access to corresponding private-key
#   currency = bitcoin
#   address = "some-test-net-address"
# }

# logging configuration
logging {
  size = 1048576
  count = 20

  # set the logging level for various modules
  # modules not overridden with get the value from DEFAULT
  # the default value for DEFAULT is "critical"
  levels {
    DEFAULT = info
    # DEFAULT = debug

    # data
    mode = info

    # other
    main = info
  }
}
