# bitmarkd.conf  -*- mode: libucl -*-

# "." is a special case - it uses the path from the configuration file
# as the data directory.
# all certificates, logs and LevelDB files are relative to this directory
# unless the are overridden with absolute paths.
#data_directory = "."
data_directory = "/var/lib/bitmarkd"

# optional pid file if not absolute path then is created relative to
# the data directory
# pidfile = "bitmarkd.pid"

# select the chain of the network for peer connections
# cross chain networking connects will not work
#chain = bitmark
#chain = testing
chain = local

# select the default node configuration
# choose from: none, chain OR sub.domain.tld
nodes = chain


# Bitmark Vault clients connect using JSON RPC to these listening ports
client_rpc {

  maximum_connections = 50

  listen = 0.0.0.0:2130
  listen = "[::]:2130"

  # announce certain public IP:ports to network
  # if using firewall port forwarding use the firewall external IP:port
  # announce = 127.0.0.1:2130
  # announce = "[::1]:2130"

  certificate = rpc.crt
  private_key = rpc.key
}


# peer-to-peer networking configuration
peering {

  # set to off to prevent additional connections
  dynamic_connections = true

  # for subscribers to receive various announcements
  broadcast = 0.0.0.0:2135
  broadcast = "[::]:2135"

  # for incoming rpc connections
  listen = 0.0.0.0:2136
  listen = "[::]:2136"

  # announce certain public IP:ports to network
  # if using firewall port forwarding use the firewall external IP:port
  announce {
    #broadcast = 127.0.0.1:2135
    #broadcast= "[::1]:2135"
    #listen = 127.0.0.1:2136
    #listen = "[::1]:2136"
  }

  public_key = peer.public
  private_key = peer.private

  # dedicated connections
  subscribe = {public_key = "781d78a9eb338a511ae88a9be5383095ede46445596506e29ad8f022a3f8596e", address = "127.0.0.1:3135"}
  #subscribe = {public_key = "781d78a9eb338a511ae88a9be5383095ede46445596506e29ad8f022a3f8596e", address = "[::1]:3135"}
  connect = {public_key = "781d78a9eb338a511ae88a9be5383095ede46445596506e29ad8f022a3f8596e", address = "127.0.0.1:3136"}
  #connect = {public_key = "781d78a9eb338a511ae88a9be5383095ede46445596506e29ad8f022a3f8596e", address = "[::1]:3136"}

}


# configuration of prooferd connections
proofing {

  public_key = proof.public
  private_key = proof.private
  signing_key = proof.sign

  payment_address = {
    bitcoin = "msxN7C7cRNgbgyUzt3EcvrpmWXc59sZVN4"
    litecoin = "msxN7C7cRNgbgyUzt3EcvrpmWXc59sZVN4"
  }

  publish =  "0.0.0.0:2140"
  publish = "[::]:2140"
  submit =  "0.0.0.0:2141"
  submit = "[::]:2141"

}

# setup for every payment service
payment {

  # set to true to get payment transactions directly from the discovery proxy
  use_discovery = true

  discovery {
    sub_endpoint = tcp://127.0.0.1:5566
    req_endpoint = tcp://127.0.0.1:5567
  }

  # local bitcoin access to REST API
  bitcoin {
    url = http://127.0.0.1:18333/rest
  }

  # local litecoin access to REST API
  litecoin {
    url = http://127.0.0.1:9332/rest
  }

}

# logging configuration
logging {
  size = 1048576
  count = 100

  # set the logging level for various modules
  # modules not overridden with get the value from DEFAULT
  # the default value for DEFAULT is "critical"
  levels {
    DEFAULT = info
    # DEFAULT = debug

    announcer = info
    announce = info
    asset = info
    asset-expiry = info
    blockstore = info
    block = info
    ring = info
    main = info
    rpc-server = info
    mode = info
    payment = info
    bitcoin = info
    bitcoin-subscriber = info
    litecoin = info
    listener = info
    peer = info
    subscriber = info
    connector = info
    broadcaster = info
    proof = info
    submission = info
    publisher = info
    reservoir = info
    reservoir-verifier = info
    rebroadcaster = info
  }
}
