# bitmarkd.conf  -*- mode: libucl -*-

# "." is a special case - it uses the path from the configuration file
# as the data directory.
# all certificates, logs and LevelDB files are relative to this directory
# unless the are overridden with absolute paths.
#data_directory = "."
data_directory = "/var/lib/bitmarkd"

# optional pid file if not absolute path then is created relative to
# the data directory
# pidfile = "bitmarkd.pid"

# select the chain of the network for peer connections
# cross chain networking connects will not work
#chain = bitmark
#chain = testing
chain = local

# select the default node configuration
# choose from: none, chain OR sub.domain.tld
nodes = chain


# Bitmark Vault clients connect using JSON RPC to these listening ports
client_rpc {

  maximum_connections = 50

  listen = 0.0.0.0:2130
  listen = "[::]:2130"

  # announce certain public IP:ports to network
  # if using firewall port forwarding use the firewall external IP:port
  # announce = 127.0.0.1:2130
  # announce = "[::1]:2130"

  certificate = rpc.crt
  private_key = rpc.key
}


# peer-to-peer networking configuration
peering {

  # set to off to prevent additional connections
  dynamic_connections = on

  # for subscribers to receive various announcements
  broadcast = 0.0.0.0:2135
  broadcast = "[::]:2135"

  # for incoming rpc connections
  listen = 0.0.0.0:2136
  listen = "[::]:2136"

  # announce certain public IP:ports to network
  # if using firewall port forwarding use the firewall external IP:port
  announce {
    #broadcast = 127.0.0.1:2135
    #broadcast= "[::1]:2135"
    #listen = 127.0.0.1:2136
    #listen = "[::1]:2136"
  }

  public_key = peer.public
  private_key = peer.private

  # dedicated connections
  subscribe = {public_key = "781d78a9eb338a511ae88a9be5383095ede46445596506e29ad8f022a3f8596e", address = "127.0.0.1:3135"}
  #subscribe = {public_key = "781d78a9eb338a511ae88a9be5383095ede46445596506e29ad8f022a3f8596e", address = "[::1]:3135"}
  connect = {public_key = "781d78a9eb338a511ae88a9be5383095ede46445596506e29ad8f022a3f8596e", address = "127.0.0.1:3136"}
  #connect = {public_key = "781d78a9eb338a511ae88a9be5383095ede46445596506e29ad8f022a3f8596e", address = "[::1]:3136"}

}


# configuration of prooferd connections
proofing {

  public_key = proof.public
  private_key = proof.private
  signing_key = proof.sign

  currency = bitcoin
  address = "msxN7C7cRNgbgyUzt3EcvrpmWXc59sZVN4"

  publish =  "0.0.0.0:2140"
  publish = "[::]:2140"
  submit =  "0.0.0.0:2141"
  submit = "[::]:2141"

}


# local bitcoin access to pool for blocks and forward client payments
# not recommended to have this be a miner or retain any keys with funds
bitcoin {

  # local connection to bitcoind
  username = my-bitcoin-user
  password = my-secret-bitcoin-password
  url = http://127.0.0.1:18333

  # to enable client side TLS authentication
  # for miniature-spoon proxy
  # ca_certificate = ca.crt
  # certificate = client.crt
  # private_key = client.key
  # url = https://127.0.0.1:18555/rpc-call
  # server_name = bitcoin-proxy

  # to reset the database to a more recent point:
  # according to blockchain.info this was the last block of 2016
  block = 446032
  hash = "000000000000000003458396c743cdfa8247a4f6bc28ad413dba333a436edf75"

  # NOTE: do not leave this set after initial run or startup will always reset
  #reset_block_count = true
}

# logging configuration
logging {
  size = 1048576
  count = 10

  # set the logging level for various modules
  # modules not overridden with get the value from DEFAULT
  # the default value for DEFAULT is "critical"
  levels {
    DEFAULT = info
    # DEFAULT = debug

    # client RPC
    rpc = info
    rpc-server = info

    # mining
    mine-bg = info
    mine-server = info

    # data
    mode = info
    block = info
    transaction = info
    bitcoin = info
    payment = info

    # peering
    peer = info
    client = info
    responder = info
    announcer = info

    # other
    main = info
    bilateral = info
  }
}
