-- recorderd.conf  -*- mode: lua -*-

local M = {}

-- helper functions
function read_file(name)
    local f, err = io.open(M.data_directory .. "/" .. name, "r")
    if f == nil then
        return nil
    end
    local r = f:read("*a")
    f:close()
    return r
end

-- set the directory for data and log files
--M.data_directory = arg[0]:match("(.*/)")  -- dir from configuration file
--M.data_directory = "."                    -- current directory
M.data_directory = "/var/lib/recorderd"   -- absolute path

-- optional pid file if not absolute path then is created relative to
-- the data directory
--M.pidfile = "recorderd.pid"

-- select the chain of the network for peer connections
-- cross chain networking connects will not work
--M.chain = "bitmark"
--M.chain = "testing"
M.chain = "local"

-- maximum percentage of cpu computation power used for hashing
-- counts in terms of total cpu cores, e.g. 50% of 8 cpu cores will be 4 threads utilized
-- default: 50
-- M.max_cpu_usage = 30

-- scheulde time recorderd runs
-- time is denoted by hour:minute, hour is denoted in 24-hour clock format
-- multiple time segment is separated by comma, e.g. "13:00-14:05, 15:20-16:34"
-- empty string means running all day
M.calendar = {
   sunday    = "",
   monday    = "",
   tuesday   = "",
   wednesday = "",
   thursday  = "",
   friday    = "",
   saturday  = ""
}

-- connect to bitmarkd
M.peering = {
    -- the miners keys
    public_key = read_file("recorderd.public"),
    private_key = read_file("recorderd.private"),

    -- connections to bitmarkd nodes
    connect = {
        {
            public_key = "b95fb9b64b2287378e2decd68557207229207cbac7165a483ff4a063b1de6c21",
            blocks = "127.0.0.1:2140",
            submit = "127.0.0.1:2141"
        }
    }
}

-- logging configuration
M.logging = {
    size = 1048576,
    count = 20,

    -- set the logging level for various modules
    -- modules not overridden with get the value from DEFAULT
    -- the default value for DEFAULT is "critical"
    levels = {
        DEFAULT = "info",
        -- DEFAULT = "debug",

        -- data
        mode = "debug",

        -- other
        main = "debug"
    }
}

-- return the complete configuration
return M
