[Unit]
Description=Bitmark's blockchain recorder
After=network.target

[Service]
Type=simple
Restart=on-failure

User=recorderd
Group=recorderd

PIDFile=/run/recorderd.pid

StandardOutput=journal
StandardError=journal

WorkingDirectory=/var/lib/recorderd
ExecStart=/usr/sbin/recorderd --quiet --config-file=/etc/recorderd.conf

[Install]
WantedBy=multi-user.target
