#!/usr/bin/make -f
# -*- makefile -*-

GOPATH = ${CURDIR}
BIN_DIR = ${GOPATH}/bin
PROJECT_DIR = ${GOPATH}/src/github.com/bitmark-inc/bitmarkd
COMMAND_DIR = ${PROJECT_DIR}/command
C_LIBRARIES_DIR = ${PROJECT_DIR}/c-libraries
PC_WRAPPER_DIR = ${C_LIBRARIES_DIR}

VERSION := $(shell dpkg-parsechangelog -SVersion | sed 's/-[^-]*$//')

override_dh_auto_build:
	make -C "${C_LIBRARIES_DIR}" all
	cd "${PROJECT_DIR}" && \
	  export GOPATH="${GOPATH}" && \
	  export PATH="${PC_WRAPPER_DIR}:${PATH}" && \
	  go install -buildmode=exe -ldflags "-X main.version=${VERSION}" ./command/...


override_dh_auto_install:
	# install app binary and configuration files
	etc_dir="debian/tmp/etc" ; \
	bin_dir="debian/tmp/bin" ; \
	share_dir="debian/tmp/share" ; \
	mkdir -p "$${etc_dir}" "$${bin_dir}" "$${share_dir}" ; \
	for app in "${COMMAND_DIR}"/* ; \
	do \
	  app_base=$$(basename "$${app}") ; \
	  conf="${SRC_DIR}/$${app}/$${app_base}.conf.sample" ; \
	  [ -f "$${conf}" ] && cp -p "$${conf}" "$${etc_dir}/$${app_base}.conf" || true ; \
	  share="${SRC_DIR}/$${app}/share" ; \
	  [ -d "$${share}" ] && cp -p "$${share}"/* "$${share_dir}/" || true ; \
	done ; \
	cp -p "${BIN_DIR}"/* "$${bin_dir}/"


override_dh_strip:
	# Go has lots of problems with stripping


override_dh_auto_test:
	# no tests


override_dh_installinit:
	#dh_installinit --name=docker --no-restart-on-upgrade


override_dh_auto_clean:
	dh_auto_clean
	make -C "${C_LIBRARIES_DIR}" clean


# default rules
%:
	dh $@ --with=systemd
